[submodule "spielplatz/bootstrap/--force"]
	path = spielplatz/bootstrap/--force
	url = https://github.com/Khan/live-editor
[submodule "spielplatz/bootstrap/live-editor"]
	path = spielplatz/bootstrap/live-editor
	url = https://github.com/Khan/live-editor
