// Spielplatz CCS defs

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Exo-regular/Exo-regular.eot');
  src: url('../fonts/Exo-regular/Exo-regular.eot?#iefix') format('embedded-opentype'),
       local('Exo Regular'),
       local('Exo-regular'),
       url('../fonts/Exo-regular/Exo-regular.woff2') format('woff2'),
       url('../fonts/Exo-regular/Exo-regular.woff') format('woff'),
       url('../fonts/Exo-regular/Exo-regular.ttf') format('truetype'),
       url('../fonts/Exo-regular/Exo-regular.svg#Exo') format('svg');
}

@font-face {
  font-family: 'Exo';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Exo-300/Exo-300.eot');
  src: url('../fonts/Exo-300/Exo-300.eot?#iefix') format('embedded-opentype'),
       local('Exo Light'),
       local('Exo-300'),
       url('../fonts/Exo-300/Exo-300.woff2') format('woff2'),
       url('../fonts/Exo-300/Exo-300.woff') format('woff'),
       url('../fonts/Exo-300/Exo-300.ttf') format('truetype'),
       url('../fonts/Exo-300/Exo-300.svg#Exo') format('svg');
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Exo-700/Exo-700.eot');
  src: url('../fonts/Exo-700/Exo-700.eot?#iefix') format('embedded-opentype'),
       local('Exo Bold'),
       local('Exo-700'),
       url('../fonts/Exo-700/Exo-700.woff2') format('woff2'),
       url('../fonts/Exo-700/Exo-700.woff') format('woff'),
       url('../fonts/Exo-700/Exo-700.ttf') format('truetype'),
       url('../fonts/Exo-700/Exo-700.svg#Exo') format('svg');
}

@font-face {
  font-family: 'Exo';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Exo-300italic/Exo-300italic.eot');
  src: url('../fonts/Exo-300italic/Exo-300italic.eot?#iefix') format('embedded-opentype'),
       local('Exo Light Italic'),
       local('Exo-300italic'),
       url('../fonts/Exo-300italic/Exo-300italic.woff2') format('woff2'),
       url('../fonts/Exo-300italic/Exo-300italic.woff') format('woff'),
       url('../fonts/Exo-300italic/Exo-300italic.ttf') format('truetype'),
       url('../fonts/Exo-300italic/Exo-300italic.svg#Exo') format('svg');
}

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Exo-italic/Exo-italic.eot');
  src: url('../fonts/Exo-italic/Exo-italic.eot?#iefix') format('embedded-opentype'),
       local('Exo Italic'),
       local('Exo-italic'),
       url('../fonts/Exo-italic/Exo-italic.woff2') format('woff2'),
       url('../fonts/Exo-italic/Exo-italic.woff') format('woff'),
       url('../fonts/Exo-italic/Exo-italic.ttf') format('truetype'),
       url('../fonts/Exo-italic/Exo-italic.svg#Exo') format('svg');
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Exo-700italic/Exo-700italic.eot');
  src: url('../fonts/Exo-700italic/Exo-700italic.eot?#iefix') format('embedded-opentype'),
       local('Exo Bold Italic'),
       local('Exo-700italic'),
       url('../fonts/Exo-700italic/Exo-700italic.woff2') format('woff2'),
       url('../fonts/Exo-700italic/Exo-700italic.woff') format('woff'),
       url('../fonts/Exo-700italic/Exo-700italic.ttf') format('truetype'),
       url('../fonts/Exo-700italic/Exo-700italic.svg#Exo') format('svg');
}

@font-face {
  font-family: 'typicons';
  src: url("../fonts/typicons.eot");
  src: url("../fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("../fonts/typicons.woff") format('woff'),
       url("../fonts/typicons.ttf") format('truetype'),
       url("../fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Exo", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}


.form-signin, .form-signup {
	width: 480px;
	margin: 0 auto;
	margin-top: 100px;
}

.form-signin input,
.form-signup input {
  margin: 5px;
}

.login-area .btn {
  margin: 5px;
}

#project-button-group {
  position: relative;
  margin: 5px 0px;
}

#project-button-group button {
  height: 40px;
}

#project-button-group ul {
  padding: 5px;
}

#project-button-group ul span {
  padding: 0px 5px;
  display: inline-block;
  overflow: hidden;
  width: 86%;
}

#project-button-group ul li {
  padding: 3px 0px;
}

#project-button-group ul li:hover {
  background-color: lightgrey;
}

#project-button-group .big-filename {
  position: absolute;
  width: 568px;
  height: 50px;
  left: -319px;
  top: -319px;
  transform: rotate(270deg);
  font-size: 3em;
  color: #bbb;
}

#project-button-group .big-filename .project {
  position: absolute;
  font-size: 0.9em;
  right:  0px;
  bottom: -10px;
  float: right;
  color: #ddd;
}

#project-button-group .big-filename .points {
  position: absolute;
  font-size: 0.8em;
  right: 0px;
  bottom: -20px;
  color: #999;
}

#project-bar-open-files {
  width: 222px;
}

.project-bar-open-file .timestamp {
  position: absolute;
  text-align: right;
  right: 3px;
  font-size: 0.7em;
}

#project-bar-codefile-modal .file {
  margin: 5px;
}

#project-bar-codefile-modal .filename {
  font-size: 1.2em;
}

#project-bar-codefile-modal .timestamp {
  font-size: 0.7em;
  margin: 5px;
}

#project-bar-codefile-modal .checkbox {
  width: 20px;
  height: 20px;
}

#project-bar-codefile-modal .modal-dialog {
  overflow-y: initial !important
}

#project-bar-codefile-modal .modal-body {
  height: 550px;
  overflow-y: auto;
  background-color: #f8f8f8;
}

#project-bar-codefile-modal .modal-body .bottom {
  background-color: #e8e8e8;
  border-top: 1px solid #c8c8c8;
  height: 28px;
}

#modal-codefiles .filename {
  font-size: 1.2em;
  display: inline-block;
  width: 120px;
}

#control-bar-sound-modal .modal-dialog {
  overflow-y: initial !important
}

#control-bar-sound-modal .modal-body {
  height: 450px;
  overflow-y: auto;
  background-color: #f8f8f8;
}

#control-bar-sound-modal .title {
  font-size: 3.0em;
  color: lightgrey;
}

#control-bar-sound-modal .modal-body .bottom {
  background-color: #e8e8e8;
  border-top: 1px solid #c8c8c8;
  height: 28px;
}

#control-bar-sound-modal .sound-name {
  font-size: 1.2em;
  display: inline-block;
  vertical-align: top;
  padding: 4px 10px 0px 10px;
  width: 240px;
  border: 1px solid transparent;
}

#control-bar-sound-modal .sound-name.active {
  border: 1px solid grey;
}

#control-bar-sound-modal .sound-name.selected {
  background-color: lightgrey;
  font-weight: bold;
}

#control-bar-caret {
  margin-left: 10px;
}

.page {
    position: relative;
}

#page-paper {
  background-color: #EDF1F2;
}

#paperCanvasWrapper {
  width: 1170px;
  height: 600px;
  margin: 0px;
  float: left;
  border: 1px solid grey;
  background-image: url("../img/chess.png");
  background-position: left;
  background-repeat: no-repeat;
}

#paperCanvas {
  width: 1170px;
  height: 600px;  
}

#viewCanvasWrapper {
  position: absolute; 
  width: 256px;
  height: 256px;
  top: 25px; 
  left: 720px;
}

#viewCanvas {
}

.colorpicker-scroll {
  position: absolute; 
  top: -15px; 
  right: -69px;
}

.colorpicker-scroll-c {
  position: absolute; 
  top: 0px; 
  right: 0px;
  width: 52px !important;
  height: 30px !important;
}

.colorpicker-scroll-c1 {
  position: absolute; 
  top: 0px; 
  right: -21px;
  width: 0px !important;
  height: 15px !important;
}

.colorpicker-scroll-c2 {
  position: absolute; 
  top: 15px; 
  right: -21px;
  width: 0px !important;
  height: 15px !important;
}

#commandsWrapper {
  position: absolute;
  top: 15px;
  left: 605px;
  width: 97px;
  border: 1px solid lightgrey;  
  padding: 5px;
}

#commandsWrapper .command {
  position: relative;
  margin: 3px 0;
  width: 40px !important;
  height: 40px !important;
}

#commandsWrapper .command .typcn {
  position: absolute;
  font-size: 30px;
  left: 5px;
  top: -5px;
}

#commandsWrapper .colorfield {
  border: 1px solid lightgrey;  
  margin: 3px 0;
  width: 83px;
  height: 86px;
  background-color: white;
}

#commandsWrapper hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.commandOptions {
  position: absolute;
  top: 300px;
  left: 710px;
  width: 450px;
  border: 1px solid lightgrey;  
  padding: 5px;
}

#colorizerOptions {
  height: 230px;
}

.commandOptionsLine {
}

.commandBox {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 51px;
  border: 1px solid lightgrey;  
  padding: 5px;
}

.commandBox img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.commandBox:hover {
  border: 2px solid lightgrey;    
}

.commandBox.selected {
  border: 2px solid grey;    
}

.modal-footer .btn-primary, .modal-footer .btn {
  margin-left: 5px;
}

.commands-image-modal .file {
  margin: 5px;
}

.commands-image-modal .middle {
  width: 110px;
  height: 110px;
  margin: auto 0;
  text-align: center;  
}

.commands-image-modal img {
  max-width: 100px;
  max-height: 100px;
  text-align: center;  
  zoom: 0.1;
  opacity: 0;
}

.commands-image-modal .filename {
  font-size: 0.9em;
}

.commands-image-modal .modal-dialog {
  overflow-y: initial !important
}

.commands-image-modal .modal-body {
  height: 550px;
  width: 888px;
  overflow-y: auto;
  background-color: #f8f8f8;
}

.commands-image-modal .modal-body .bottom {
  background-color: #e8e8e8;
  border-top: 1px solid #c8c8c8;
  height: 28px;
  text-align: center;
}

.commands-image-modal .bigfont {
  font-size: 3.0em;
  text-decoration: none;
}

.commands-image-modal .lightcolor {
  color: lightgrey;
}

#commands-image-import-modal .title {
  text-align: right;  
}

#commands-image-export-modal .filename-input {
  display: inline-block;
  color: black;
  padding: 5px;
}

#commands-image-export-modal .filename-folder {
  padding: 7px;
}

#commands-image-export-modal .filename-input::-webkit-input-placeholder,
#commands-image-export-modal .filename-input::-moz-placeholder {
  color: lightgrey;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

audio:hover, audio:focus, audio:active
{
box-shadow: 5px 5px 8px rgba(0,0, 0, 0.4);
}

@media (max-width: 767px) {
}

@media (min-width: 767px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

